{% load wagtail_modeltranslation iati_tags i18n %}

<div class="aside-m__header fill-sunrise">
    <h3 class="aside-m__heading">Reference</h3>
</div>
<button class="navigation-secondary-toggle" type="button" id="navigation-secondary-toggle">pages in this section</button>
<nav class="navigation-secondary navigation-secondary--reference" id="navigation-secondary" data-nested-list>
    <form>
        <ul class="navigation-secondary__list">
            {% with item_class='navigation-secondary__item' item_num=0 %}
              {% for item in menu_to_display %}
                  {% include 'home/includes/reference-item.html' %}
              {% endfor %}
            {% endwith %}
        </ul>
    </form>
</nav>
