{% extends "base.html" %}
{% load wagtailcore_tags iati_tags i18n %}

{% block body_class %}body body--standard{% endblock %}
{% block body_id %}body-standard{% endblock %}

{% block hero %}
  <div class="hero hero--minor">
    {% include "home/includes/hero_heading.html" %}
  </div>
  {% if self.version != "version-2.03" %}
  <div class="hero-notice">
      <div class="row">
          <p class="hero-notice__copy"><i role="presentation" aria-hidden="true" class="ico ico--18 ico-warning-warning"></i>This version is DEPRECATED, <a href="#">v2.03</a> is the latest version</p>
      </div>
  </div>
  {% endif %}
{% endblock %}
{% block content %}
  <div class="row">
  	<div class="l-sidebar l-sidebar--reverse l-sidebar--wide">
      <aside class="l-sidebar__aside">
        {% reference_side_panel calling_page=self %}
  		</aside>

  		<div class="l-sidebar__body">
        <section>
          {% if "activity-standard" in self.json_path or "organisation-standard" in self.json_path %}
            {% include "iati_standard/schema_element.html" %}
          {% elif "codelists" in self.json_path %}
            {% include "iati_standard/codelist_element.html" %}
          {% else %}
            {% include "iati_standard/documentation.html" %}
          {% endif %}
        </section>
      </div>
    </div>
</div>
{% endblock %}
