<div class="is-typeset">
    <h1>{{ self.name }}<a class="m-header-link" href="#header-id" title="Permalink to this headline">¶</a></h1>
    {% if self.data.codelist_json.metadata.url %}
      <p>External URL: <a href="{{ self.data.codelist_json.metadata.url }}">{{ self.data.codelist_json.metadata.url }}</a></p>
    {% endif %}
    <p>This is a <a href="#">{{ self.data.codelist_json.metadata.category }}</a> Codelist.</p>
    <h2>Use this codelist for<a class="m-header-link" href="#header-id" title="Permalink to this headline">¶</a></h2>
    <ul>
        {% for item in self.data.codelist_paths %}
          <li><a href="#">{{ item }}</a></li>
        {% endfor %}
    </ul>
    <h2>Download this codelist<a class="m-header-link" href="#header-id" title="Permalink to this headline">¶</a></h2>
    <table>
        <thead>
            <tr>
                <th>CLv1:</th>
                <th>CLv2:</th>
                <th>CLv3:</th>
                <th>CLv3 (French):</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><a href="#">CSV</a></td>
                <td><a href="#">CSV</a></td>
                <td><a href="#">CSV</a></td>
                <td><a href="#">CSV</a></td>
            </tr>
            <tr>
                <td><a href="#">JSON</a></td>
                <td><a href="#">JSON</a></td>
                <td><a href="#">JSON</a></td>
                <td><a href="#">JSON</a></td>
            </tr>
            <tr>
                <td><a href="#">XML</a></td>
                <td><a href="#">XML</a></td>
                <td><a href="#">XML</a></td>
                <td><a href="#">XML</a></td>
            </tr>
        </tbody>
    </table>
    <p><a href="{{ self.data.codelist_json.github_url }}">GitHub source</a></p>
    <p>The codelists were translated in French in April 2018 with the support of the Government of Canada. Please note that if any codelists have been added since then, they may not be available in French.</p>
    <h2>Codes<a class="m-header-link" href="#header-id" title="Permalink to this headline">¶</a></h2>
</div>
{% for item in self.data.codelist_json.data %}
    <div class="m-codelist">
        <aside class="m-codelist__aside">
            <span class="m-codelist__flag">Code</span>
            <h3 class="m-codelist__code">{{ item.code }}</h3>
        </aside>
        <div class="m-codelist__main">
            <div class="m-codelist__header">
                <div class="m-codelist__heading">
                    <span class="m-codelist__flag">Name</span>
                    <h2 class="m-codelist__title">{{ item.name }}</h2>
                </div>
                {% if item.show_category_column %}
                <div class="m-codelist__category">
                    <span class="m-codelist__flag">Category</span>
                    <p class="m-codelist__copy"><a href="#">{{ item.category }}</a></p>
                </div>
                {% endif %}
                {% if item.show_url_column %}
                <div class="m-codelist__category">
                    <span class="m-codelist__flag">URL</span>
                    <p class="m-codelist__copy"><a href="#">{{ item.url }}</a></p>
                </div>
                {% endif %}
            </div>
            {% if item.description %}
            <div class="m-codelist__content">
                <span class="m-codelist__flag">Description</span>
                <p class="m-codelist__copy m-codelist__copy show-hide-target show-hide-target--hidden">{{ item.description }}</p>
                <a href="#" class="m-codelist__link show-hide-trigger">Expand &plus;</a>
            </div>
            {% endif %}
        </div>
    </div>
{% endfor %}
