{% load wagtailcore_tags iati_tags i18n %}
<div class="is-typeset">
    <h1 id="title">{{ self.name }}<a class="m-header-link" href="#title" title="Permalink to this headline">¶</a></h1>
    <code class="html">
        {{ self.data.path }}{{ self.data.element_name }}
    </code>
    <p>This is the reference page for the XML element {{ self.data.element_name }}.</p>
    <h2 id="definition">Definition<a class="m-header-link" href="#definition" title="Permalink to this headline">¶</a></h2>
    <p>{{ self.data.schema_documentation }}</p>
    <h2 id="rules">Rules<a class="m-header-link" href="#rules" title="Permalink to this headline">¶</a></h2>
    {% if self.data.minOccurs and self.data.maxOccurs %}
      <p>
      {% if self.data.minOccurs == "1" and self.data.maxOccurs == "1" %}
        This element must occur once and only once (within each parent element).
      {% elif self.data.minOccurs == '0' and self.data.maxOccurs == '1' %}
        This element must occur no more than once (within each parent element).
      {% elif self.data.minOccurs == '0' and self.data.maxOccurs == 'unbounded' %}
        This element may occur any number of times.
      {% elif self.data.minOccurs == '1' and self.data.maxOccurs == 'unbounded' %}
        This element must occur at least once (within each parent element).
      {% else %}
        This element must occur {{self.data.minOccurs}} to {{self.data.maxOccurs}} times.
      {% endif %}
      </p>
    {% endif %}
    {% for extended_type in self.data.extended_types %}
      {% if extended_type|first in 'xsd:' %}
        <p>The content of this element must be of {{ extended_type }}.</p>
      {% endif %}
    {% endfor %}
    {% if self.data.element_type and self.data.element_type|first in 'xsd:' %}
      <p>The content in this element must be of type {{self.data.element_type}}.<p>
    {% endif %}
    {% for rule in self.data.ruleset %}
      <p>{{ rule }}</p>
    {% endfor %}
    <h2 id="attributes">Attributes<a class="m-header-link" href="#attributes" title="Permalink to this headline">¶</a></h2>
    {% if self.data.attributes %}
    <dl>
      {% for att in self.data.attributes %}
        <dt>@{{ att.attribute }}</dt>
        <dd>
            <p>{{ att.text }}</p>
            {% if att.required %}
              <p>This attribute is required.</p>
            {% endif %}
            <p>This value must be of type {{ att.attribute_type }}.</p>
             {% for codelist_0, codelist_1 in att.match_codelists.items %}
             {% if codelist_1 != "false" %}
             <p>This value must be on the <a href="#">{{ codelist_0 }}</a> codelist, if the relevant vocabulary is used.</p>
             {% else %}
              <p>This value must be on the <a href="#">{{ codelist_0 }}</a> codelist.</p>
             {% endif %}
             {% endfor %}
        </dd>
      {% endfor %}
    </dl>
    {% endif %}
    {% for extra in self.split_extra_docs %}
      <h2 id="{{extra.section_title}}">{{ extra.section_title }}<a class="m-header-link" href="#{{ extra.section_title }}" title="Permalink to this headline">¶</a></h2>
      {% for content in extra.content %}
        {% if content|first in '<' %}
          <p><code class="html">{{content}}</code></p>
        {% else %}
          <p>{{content}}</p>
        {% endif %}
      {% endfor %}
    {% endfor %}
    <h2>Developer tools<a class="m-header-link" href="#header-id" title="Permalink to this headline">¶</a></h2>
    <p>Find the source of this documentation on github:</p>
    <ul>
        <li><a href="{{ self.data.github_urls.schema }}">Schema</a></li>
        <li><a href="{{ self.data.github_urls.extra_documentation }}">Extra-Documentation</a></li>
    </ul>
    {% if self.data.childnames %}
      <h2>Subelements<a class="m-header-link" href="#header-id" title="Permalink to this headline">¶</a></h2>
      {% for item in self.get_children %}
      <ul>
          <li><a href="{% pageurl item %}">{{ item }}</a></li>
      </ul>
      {% endfor %}
    {% endif %}
</div>
