<div class="is-typeset">
    <h1>{{ self.name }}<a class="m-header-link" href="#header-id" title="Permalink to this headline">¶</a></h1>
    <code class="html">
        {{ self.data.path + self.data.element_name }}
    </code>
    <p>This is the reference page for the XML element {{ self.data.element_name }}.</p>
    <h2>Definition<a class="m-header-link" href="#header-id" title="Permalink to this headline">¶</a></h2>
    <p>{{ self.data.schema_documentation }}</p>
    <h2>Rules<a class="m-header-link" href="#header-id" title="Permalink to this headline">¶</a></h2>
    {% if self.data.minOccurs and self.data.maxOccurs %}
      <p>
      {% if self.data.minOccurs=='1' and self.data.maxOccurs=='1' %}
        This element must occur once and only once (within each parent element).
      {% elif self.data.minOccurs=='0' and self.data.maxOccurs=='1' %}
        This element must occur no more than once (within each parent element).
      {% elif self.data.minOccurs=='0' and self.data.maxOccurs=='unbounded' %}
        This element may occur any number of times.
      {% elif self.data.minOccurs=='1' and self.data.maxOccurs=='unbounded' %}
        This element must occur at least once (within each parent element).
      {% else %}
        This element must occur {{self.data.minOccurs}} to {{self.data.maxOccurs}} times.
      {% endif %}
      </p>
    {% endif %}
    {% for extended_type in self.data.extended_types %}
      {% if extended_type.startswith('xsd:') %}
        <p>The content of this element must be of {{ extended_type }}.</p>
      {% endif %}
    {% if self.data.element_type and self.data.element_type.startswith('xsd:') %}
      <p>The content in this element must be of type {{self.data.element_type}}.<p>
    {% endif %}
    {% for rule in self.data.ruleset %}
      <p>{{ rule }}</p>
    {% endfor %}
    <h2>Attributes<a class="m-header-link" href="#header-id" title="Permalink to this headline">¶</a></h2>
    {% if self.data.attributes %}
    <dl>
      {% for att in self.data.attributes %}
        <dt>{{ att.attribute }}</dt>
        <dd>
            <p>{{ att.text }}</p>
            {% if att.required %}
              <p>This attribute is required.</p>
            {% endif %}
            <p>This value must be of type {{ att.attribute_type }}.</p>
            <!-- {% for codelist in att.match_codelists %}
              <p>This value must be on the <a href="#">{{ codelist[0] }}</a> codelist.</p>
            {% endfor %} -->
        </dd>
      {% endfor %}
    </dl>
    {% endif %}
    {{ self.data.extra_docs }}
    <!-- <h2>Example Usage<a class="m-header-link" href="#header-id" title="Permalink to this headline">¶</a></h2>
    <p>Example usage of <code class="html">iati-activities</code></p>
    <p>This element is a parent for other all other elements of the IATI Activity Standard. This example provides a dateTime of 2014-09-10T07:15:37Z for the @generated-datetime attribute. A dateTime in UTC time is indicated by adding a Z behind the time This example date time format conforms to the xsd:dateTime standard. The @version attribute declares a valid code (2.x) from the Version codelist. The optional @linked-data-default attribute is also included.</p>
    <pre><code class="html">{{ '<iati-activities generated-datetime="2014-09-10T07:15:37Z" version="2.03" linked-data-default="http://data.example.org/"></iati-activities>' | escape }}</code></pre>
    <p>The iati-activities element acts as a container for other sub-elements. It is closed as follows:</p>
    <p><code class="html">{{ '</iati-activities>' | escape }}</code></p>
    <h2>Changelog<a class="m-header-link" href="#header-id" title="Permalink to this headline">¶</a></h2>
    <p>Introduced the @linked-data-default attribute on iati-activities element</p> -->
    <h2>Developer tools<a class="m-header-link" href="#header-id" title="Permalink to this headline">¶</a></h2>
    <p>Find the source of this documentation on github:</p>
    <ul>
        <li><a href="{{ self.data.github_urls.schema }}">Schema</a></li>
        <li><a href="{{ self.data.github_urls.extra_documentation }}">Extra-Documentation</a></li>
    </ul>
    {% if self.data.childnames %}
      <h2>Subelements<a class="m-header-link" href="#header-id" title="Permalink to this headline">¶</a></h2>
      {% for subelement in  self.data.childnames %}
      <ul>
          <li><a href="#">{{ subelement }}</a></li>
      </ul>
      {% endfor %}
    {% endif %}
</div>
